.box {
  display: flex;
}

.backBtn {
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.image {
  width: 240px;
}

.genreList {
  display: flex;
}
.genreItem {
  margin: 5px;
}
.linksBox {
  margin: 10px;
  font-size: 20px;
}
